
body {
    width: 100%; 
    margin: 0;
}

/* ---------- HEADER ---------- */
header {
    display: inline-block;
    width: 100%;

    background-color: #30313D;
}

.title {
    text-align: left;
    padding-left: 20px;
    font-family: "Impact", sans-serif;
}

.title h1 a {
    color: white;
    text-decoration: none;

    transition: all .2s ease-in-out; 
}

.title h1 a:hover {
    font-size: 150%;
}

#menu {
    position: fixed;
    width: 100%;
    text-align: right;
    top: 150px;
    right: 20px;

    

    color: white;
}

#menu ul a {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 1%;
    
    transition: all .2s ease-in-out;
}

#menu ul a:hover {
    font-size: 150%;
}

/* ---------- MAIN ---------- */
main {
    display: inline-block;
    width: 100%;

    background-color: #18191B; 
}

.topSection {
    z-index: 2;

    background-image: url("../resources/gifs/2d-graphics.gif");

    height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottomSection {
    padding-left: 20px;
    padding-right: 20px;
}

.bottomSection ul {
    z-index: 0;

    text-align: center;
    columns: 4;
}

/* ---------- FOOTER ---------- */
footer {
    display: inline-block;
    width: 100%;
    
}
