
body {
    width: 100%; 
    margin: 0;
}

/* ---------- HEADER ---------- */
header {
    display: inline-block;
    width: 100%;

    background-color: #30313D;
}

.title {
    text-align: left;
    padding-left: 20px;
    font-family: "Impact", sans-serif;
}

.title h1 a {
    color: white;
    text-decoration: none;

    transition: all .2s ease-in-out; 
}

.title h1 a:hover {
    font-size: 150%;
}

#menu {
    position: fixed;
    top: 150px;
    right: 100px;

    width: 200px;
    height: 400px;

    color: white;  
}

#menu i ul {
    display: none;
    min-width: 160px;
}

#menu i ul a {
    display: block;
    color: white;
    text-align: left;
    text-decoration: none;
    margin-top: 1%;

    transition: all .2s ease-in-out;
}

#menu i ul a:hover {
    font-size: 150%;
}

#menu:hover i ul {
    display: block;
}

.content icon:hover {
    font-size: 150%;
}

/* ---------- MAIN ---------- */
main {
    display: inline-block;
    width: 100%;

    background-color: #18191B; 
}

#twoDGraphics section.topSection {
    background-image: url("../resources/gifs/2d-graphics.gif");
}

#threeDGraphics section.topSection {
    background-image: url("../resources/gifs/3d-graphics.gif");
}

#music-making section.topSection {
    background-image: url("../resources/gifs/music-making.gif");
}

.topSection {
    z-index: 2;

    height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 20px;
}

.topSection h2 a {
    font-family: "Impact", sans-serif;
    font-size: 180%;
    text-decoration: none;
    color: white;
}

.bottomSection {
    z-index: 0;

    padding-left: 20px;
    padding-right: 20px;
}

.bottomSection h2 a {
    color: white;
    text-decoration: none;
}

.bottomSection ul {
    text-align: center;
    columns: 4;

    list-style-type: none;
}

.bottomSection figcaption {
    color: white;
}

/* ---------- FOOTER ---------- */
footer {
    display: inline-block;
    width: 100%;
    
    text-align: center;

    color: white;

    background-color: #30313D;
}

footer a {
    text-align: right;
    font-size: 48px;
    color: white;
    text-decoration: none;
}
